body {
    width: 95%;
    text-align: center;
    padding: 5%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

input {
    width: 95%;
    max-width: 500px;
    height: 30px;
    text-align: center;
}

h1 {
  color: rgb(227, 114, 32)/*ORANGE*/;
}

p {
    margin: auto;
    color: rgb(1, 138, 149)/*GREEN*/;
}

form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.overall_result {
    width: 95%;
    border-bottom: 2px solid rgb(1, 138, 149)/*GREEN*/;
}

.left_column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    width: 50%;
    max-width: 600px;
    min-width: 250px;
}

.right_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
    width: auto;
    min-width: 250px;
}

.article {
    text-align: left;
    padding: 2%;
    width: auto;
}

.fa-long-arrow-alt-down {
    color: red;
}

.fa-long-arrow-alt-up {
    color: green;
}

.fa-minus {
    color: blue;
}
