body {
    width: 95%;
    text-align: center;
    padding: 5%;
    margin: auto;
}

input {
    width: 95%;
    max-width: 500px;
    height: 25px;
    text-align: center;
}

button {
    height: 25px;
}

p {
    margin: auto;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.overall_result {
    width: 95%;
}

.left_column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    width: 55%;
}

.right_column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    width: 35%;
}

.article {
    text-align: left;
    padding: 2%;
}

.stock_chart {
    border: 1px solid red;
}

.share_price {
    border: 1px solid red;
}

.fa-long-arrow-alt-down {
    color: red;
}

.fa-long-arrow-alt-up {
    color: green;
}

.fa-minus {
    color: blue;
}
