<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- css pages -->
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

        <!-- document info -->
        <title>StockBoi</title>

    </head>

    <body>
        <h1>Welcome to StockBoi</h1>
        <form action="result" method="GET">
            <input name="stock_name" type="text" onfocus="this.placeholder = ''" placeholder="Search for a stock here" onblur="this.placeholder= 'Search for a stock here'">
            <button type="submit">GO!</button>
        </form>
    </body>
</html>
